.editBody {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../img/gym1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: rgb(8, 63, 107);
}

.editContainer{
    width: 60em;
    height: 50em;
    padding: 2em;
    border-radius: 12px;
}

form {
    padding: 2em;
}